<div id="contentOne_app" style="height: 100%">
	<!--<div class="bjgayf5 LRListCont" style="min-height: 70%;" v-if="currentUrl=='./index.html'">-->
		<div class="bjgayf5 LRListCont" style="min-height: 70%;">
		<div class="pdb100"></div>
		<div class="w1200 oh">
			<div class="main-leftNav fl">
				<div class="tit">{{labelData.title}}</div>
				<div class="selnav oh" >
					<template v-for="(item,index) in labelData.child">
						<a :class="currentId==item.id?'on':''" @click="labelChange(item.id,index)" >{{item.title}}</a>
					</template>
				</div>
			</div>
			<div class="main-rightList fr">
				<div class="contXqTit center">
					<span class="tit">{{contentData.title?contentData.title:''}}</span>
				</div>
				<div class="portLisbox1">
					<div class="contBox" >
						<div class="content ql-editor " style="clear: both;">
							<div class="inforCont pdb100" v-html="contentData.content">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<script type="text/javascript">
	var contentOne_app = new Vue({
	    el: '#contentOne_app',
	    data:function(){
	        return {
	        	banner_index:0,
	        	is_toggle:false,
				is_show:false,
				contentData:{},
				labelData:{},
				allPages:'',
				pageArray:[],
				o_paginate:{
					count: 0, 
				    currentPage: 1, 
				    pagesize:1, 
				    is_page: true, 
				},
				paginate: { 
				    count: 0, 
				    currentPage: 1, 
				    pagesize:1, 
				    is_page: true, 
				},
				currentId:0,
				currentTitle:'公司简介',
				currentUrl:''
	        }
	    },
	    created:function () {
	        var self = this;
	       var currentUrl = window.base.GetUrlRelativePath();
		
			var reg = /\/([^\/]+)\.html/i;
			if(reg.exec(currentUrl)&&reg.exec(currentUrl)[0]){
				self.currentUrl = reg.exec(currentUrl)[0];
			}else{
				self.currentUrl = '/index.html';
			};
			window.base.bus.$emit('from_contentOne',{});
    		window.base.bus.$on('to_contentOne',(res)=>{	
	        	this.to_contentOne(res);
				console.log('res',res)
		    });
	    },
	    methods: {

	    	 labelChange:function(id,index){
	    	 	var self = this;
	    	 	self.currentId = id;
	    	 	self.getMainData()
	    	},

	    	to_contentOne:function(res){
	    		var self = this;
	    		if(res.labelData){
	        		self.labelData = res.labelData;
	        		self.currentId = self.labelData['child'][0].id;
	        		self.currentTitle = self.labelData['child'][0].title;
	        		self.getMainData()
	        	};
	        	if(res.paginate){
	        		self.o_paginate = res.paginate;
	        		self.paginate = self.o_paginate;
	        	};
	    	},

			getMainData(){
			    var self = this;
			    var postData = {};
		    	postData.searchItem = {
			    	thirdapp_id:2,
			    	menu_id:self.currentId
			    };
			    var callback = function(res) { 
					if(res.info.data.length>0){
						self.contentData = res.info.data[0];	
					}else{
						self.contentData = {}
					}
			       
			    };
			    window.base.articleList(postData, callback);
			},
	        
	    	changePage:function(e) {
				var self = this;
				var dataSet = window.base.getDataSet(e);
				window.base.changePage(dataSet, self);
				self.getMainData(true);
			},

			linkTo:function(e) {
				var self = this;
				console.log(e);
				self.linkPage = window.base.getDataSet(e).page;
				var res = window.base.linkTo(self);
				if(res){
					self.getMainData(true);
				};	
			},
	
	    }
	});
</script>