<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>知条条官网</title>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="font/iconfont.css">
		<link rel="stylesheet" type="text/css" href="css/page.css">
		<link rel="stylesheet" type="text/css" href="css/swiper.css">
		<link rel="stylesheet" type="text/css" href="css/sport.css">
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
	</head>

	<body>
		<div id="app">
			<!-- 网站导航 -->
			<div class="pubHeader">
				<include src="header.html"></include>
			</div>

			<!-- <div class="pubHeadBanner" >
		<include src="headBanner.html"></include>
	</div> -->

			<!-- swiper轮播 -->
			<div class="pubHeadBanner">
				<include src="headBanner.html"></include>
			</div>


			<!-- 通知和动态列表 -->
			<div class="pdb100">
				<div class="indNews w1200 oh">
					<div class="list oh">
						<div class="pubTitle center">
							<h1 class="fs30 mgb20">企业公告</h1>
						</div>
						<h1 class="tit">公告 <a class="more" href="newsList.html?type=企业公告">更多</a></h1>
						<div class="titLis">
							<ul>
								<li v-for="(item,index) in 企业公告['child']" :key="index">
									<a :href="'./detailPage.html?id='+item.id"><i></i>{{item.title}}<em>{{item.create_time}}</em></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="list oh">
						<div class="pubTitle center">
							<h1 class="fs30 mgb20">企业动态</h1>
						</div>
						<h1 class="tit">动态 <a class="more" href="newsList.html?type=企业动态">更多</a></h1>
						<div class="titLis">
							<ul>
								<li v-for="(item,index) in 企业动态['child']" :key="index">
									<a :href="'./detailPage.html?id='+item.id"><i></i>{{item.title}}<em>{{item.create_time}}</em></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- 4大分类 -->
			<div class="bjgayf5 pdb100 indx-sharebox center">
				<div class="pdb100"></div>
				<div class="w1200">
					<ul>
						<li v-for="(item,index) in indshareLis" :key="index">
							<img class="icon" :src="item.iconUrl" alt="">
							<h1>{{item.title}}</h1>
							<p>{{item.tex1}}</p>
							<p>{{item.tex2}}</p>
							<p>{{item.tex3}}</p>
						</li>
					</ul>
				</div>
			</div>
			<include src="footer.html"></include>
		</div>
	</body>

	<script type="text/javascript">
		// 优秀学员滑动banner
		$(function() {
			// mobile 点击按钮显示导航
			$(".indNavbar .navBtn").click(function() {
				if ($(".indNavbar .list").css('display') == 'none') {
					$(".indNavbar .list").show()
				} else {
					$(".indNavbar .list").hide()
				}
			});
		});
	</script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					
					is_toggle: false,
					paginate: {
						count: 0,
						currentPage: 1,
						pagesize: 6,
						is_page: true,
					},
					searchItem: {
						thirdapp_id: 2,
						title: ['in', ['企业公告','企业动态']]
					},
					detailLink: "detailPage.html",
					companyNews: [{
							name: "企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告"
						},
						{
							name: "企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告"
						},
						{
							name: "企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告"
						},
						{
							name: "企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告"
						},
						{
							name: "企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告企业公告"
						}
					],
					marketNews: [{
							name: "企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态"
						},
						{
							name: "企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态"
						},
						{
							name: "企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态"
						},
						{
							name: "企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态"
						},
						{
							name: "企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态企业动态"
						}
					],
					indshareLis: [{
							iconUrl: "images/home-icon1.png",
							title: "商圈共享",
							tex1: "助推商圈新发展",
							tex2: "引领店铺新营销",
							tex3: "重构商圈新局面"
						},
						{
							iconUrl: "images/home-icon2.png",
							title: "品牌贸易",
							tex1: "特色品牌是塑造",
							tex2: "典范品牌孵化",
							tex3: "优质品牌创投"
						},
						{
							iconUrl: "images/home-icon3.png",
							title: "数字商业",
							tex1: "建立商业数据",
							tex2: "价值数据分析",
							tex3: "数据技术应用"
						},
						{
							iconUrl: "images/home-icon4.png",
							title: "文创平台",
							tex1: "置业践行规划",
							tex2: "职业经理人培育计划",
							tex3: "我们的故事"
						}
					],
					企业公告: {},
					企业动态: {},
					
					mainData:[]

				}
			},
			created: function() {
				var self = this;

				window.onload = function() {

					window.base.bus.$emit('to_contentOne', {
						paginate: self.paginate
					});
					window.base.bus.$emit('to_headBanner', {
						title: '首页轮播图'
					});
					//window.base.bus.$emit('to_swiper',{mainData:self.teacherData});

				};
				self.getMainData()

			},
			methods: {
				
				goDetail(id){
					window.base.location
				},

				getMainData: function(id) {
					var self = this;
					var postData = {};
					
					postData.searchItem = window.base.cloneForm(self.searchItem);

					postData.getAfter = {
						child: {
							tableName: 'Article',
							middleKey: 'id',
							key: 'menu_id',
							searchItem: {
								status: 1,
							},
							condition: '='
						},
					};
					var callback = function(res) {
						console.log('getMainData', res);
						self.mainData.push.apply(self.mainData, res.info.data);
						for (var i = 0; i < self.mainData.length; i++) {
							self[self.mainData[i].title] = self.mainData[i];
						};
						console.log(self['企业公告'])
					};
					console.log('self.mainData', self.mainData)
					window.base.labelGet(postData, callback);
				},


			}
		});
	</script>
</html>
